---
layout: default
title: Programm
permalink: /2023/timeline/

---
<!-- über das projekt -->
<div class="row">
    <section class="section first col-xs-24">
        <div class="content-wrap subpage">
            <h1 class="section-headline">Programm</h1>
            <div class="subpage-content-main programm">
                <h2 class="about-subline">Das Forum Open: Hardware am 13. März 2023</h2>
                <p class="programm">Die Kreislaufwirtschaft oder auch "Circular Society" sowie das Recht auf Reparatur werden als Wege in eine nachhaltige Zukunft gesehen. Doch wie gelangen wir dorthin? Welche Rolle spielen die Zivilgesellschaft und die offene Technologiegestaltung dabei? Diesen Fragen möchten wir mit dem #FOH23 nachgehen.</p>
                <ul class="programm">
                    <li class="subhead"><strong>1. Teil - Themenwerkstätten</strong><br>Vernetzung und Austausch zu Bedarfen und Handlungsempfehlungen
                        <ul>

                            <li>12:30 Einlass</li>
                            <li>13:00 Auftakt und Vorstellung der Themenwerkstätten</li>
                            <li>13:20 Start der <a href="/about/#workshops" target="_blank">Themenwerkstätten</a>
                                <ul>
                                    <li class="maintopic"><span class="highlight">Kreislaufwirtschaft mit offene Technologien</span> - mit <a href="#speaker">Lars Zimmermann</a></li>
                                    <li class="maintopic"><span class="highlight">Internationaler Wissenstransfer</span> - mit <a href="#speaker">Geraldine de Bastion</a></li>
                                    <li class="maintopic"><span class="highlight">Open Science Hardware</span> - mit <a href="#speaker">Bonny Brandenburger</a></li>
                                </ul>
                            </li>
                            <li>14:50 Pause</li>
                        </ul>
                    </li>
                    <li><strong>2. Teil - Mittel und Wege</strong><br>Impulse und Diskurse aus Praxis und Politik
                        <ul>
                            <li>15:30 Begrüßung</li>
                            <li>15:50 Wie helfen offene Infrastrukturen der Zivilgesellschaft? - mit <a href="#speaker">Peter Troxler</a>
                                <ul>
                                    <li class="maintopic"><span class="highlight">Heißdampf für mobile Küchen</span></li>
                                    <li class="maintopic"><span class="highlight">Mit dem Laser4DIY niederschwellig Platinen herstellen</span></li>
                                    <li class="maintopic"><span class="highlight">Durch das OpenMycoLab Pilze erforschen und produzieren</span></li>
                                </ul>
                            </li>
                            <li>16:55 Pause</li>
                            <li>17:10 Mit Open Hardware Ressourcen erzeugen, wiederverwerten und sparen
                                <ul>
                                    <li class="maintopic"><span class="highlight">Energiegewinnung mit Windkit</span></li>
                                    <li class="maintopic"><span class="highlight">Sauberes Wasser durch LibreWater</span></li>
                                    <li class="maintopic"><span class="highlight">Mit HILO zur Liberalisierung der Textilproduktion</span></li>
                                </ul>
                            </li>
                            <li>18:15 Pause</li>
                            <li>18:45 Abschlusspanel, mit <a href="#speaker">Anja Mager, Katarina Peranić, Melanie Jaeger-Erben, Lars Zimmermann und Weitere</a> - moderiert von <a href="#speaker">Caroline Paulick-Thiel</a>
                                <ul>
                                    <li class="maintopic"><span class="highlight">Mit offenen Technologien und einer aktiven Zivilgesellschaft zur zukunftsfähigen Gesellschaft?</span></li>
                                </ul>
                            </li>
                            <li>19:45 Schluss und Ausklang</li>
                        </ul>
                    </li>


                </ul>
            </div>

            <div class="subpage-content-main">
                <h2 class="about-subline">Veranstaltungsort</h2>
                <p >Das #FOH23 wird am 13. März in der Alten Münze Berlin, in den alten Prägehallen stattfinden (Molkenmarkt 2, 10179 Berlin).</p>
                <br><div class="video"><iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.openstreetmap.org/export/embed.html?bbox=13.408113420009615%2C52.515390054624355%2C13.40996950864792%2C52.51637102818019&amp;layer=mapnik&amp;marker=52.51588054413986%2C13.409041464328766" style="border: 1px solid black"></iframe></div>
            </div>
        </div>
    </section>
    <div class="row">
        <section class="section grey-light col-xs-24">
            <div class="content-wrap subpage-content">
                <h2 id="speaker" name="speaker" tabindex="1" class="section-headline">Redner und Rednerinnen</h2>
                <center><p></p></center>
            </div>
            <div class="team-teaser-wrap col-xs-22 col-xs-push-1 col-md-20 col-md-push-2 col-lg-18 col-lg-push-3">
                {% if site.data.speaker_23 %}
                    {% for speaker in site.data.speaker_23 %}
                        {% if speaker.featured == true %}
                            {% include partials/member-teaser.liquid src=speaker.img  function=speaker.function name=speaker.name position=speaker.position copy=speaker.txt website=speaker.url  %}

                        {% endif %}
                    {% endfor %}
                {% endif %}

            </div>

        </section>
    </div>

</div>
<!-- include mitmachen section -->
{% include partials/sections/apply.liquid %}
