<!-- mitmachen -->
<div class="row">
    <section id="apply" class="section highlight col-xs-24">
        <div class="content-wrap">
            <h2 class="section-headline" style="color: black;">Anmeldung geschlossen</h2>
            <p style="color: black;">Vielen Dank für das große Interesse! Wir haben leider die maximale Anzahl der Teilnehmenden erreicht. Du kannst dich auf die Warteliste setzen.</p>

                <div class="content-wrap btn-wrap">
                  <a class="edu-btn black" target="_blank" href="https://cloud.okfn.de/apps/forms/sd4AQC4AA3c2GA8F">Zur Warteliste</a>
                </div>

        </div>
        
    </section>
</div>
