<!-- mitmachen -->
<div class="row">
    <section id="apply" class="section blue col-xs-24">
        <div class="content-wrap">
            <h2 class="section-headline">Save the Date</h2>
            <p>Gestalte mit uns Zukunft und werde Teil des FOH23!</p>

                <div class="content-wrap btn-wrap">
                  <a class="edu-btn white" target="_blank" href="/">Zur Anmeldung</a>
                </div>

        </div>
        
    </section>
</div>
