<!-- mitmachen -->
<div class="row">
    <section id="apply" class="section highlight col-xs-24">
        <div class="content-wrap">
            <h2 class="section-headline">Save the Date</h2>
            <p>Gestalte mit uns am 13. März 2023 offene Technologien und werde Teil des FOH23!</p>

                <div class="content-wrap btn-wrap">
                  <a class="edu-btn black" target="_blank" href="https://cloud.okfn.de/apps/forms/6Swy92tKLs7WHPxF">Zur Anmeldung</a>
                </div>

        </div>
        
    </section>
</div>
