<!-- mitmachen -->
<div class="row">
    <section id="apply" class="section highlight col-xs-24">
        <div class="content-wrap">
            <h2 class="section-headline" style="color: black;">Vielen Dank!</h2>
            <p style="color: black;">Vielen Dank für das große Interesse! Die Dokumentation wird in Kürze veröffentlicht. Das Buch "Unboxing Blackboxes" gibt es schon jetzt.</p>

                <div class="content-wrap btn-wrap">
                  <a class="edu-btn black" target="_blank" href="https://hardware.forum-open.de/2023/publikation/">Zur Dokumentation</a>
                </div>

        </div>
        
    </section>
</div>
