<header class="header">
    {% assign base_dir = page.url | split:'/'  %}
    {% assign base_dir = base_dir  %}
    {% assign url = page.url  %}
    <div class="header-inner">
        {% if base_dir[0] == '' %}
            <a class="signet" href="/">
                    <img src="{{ site.baseurl }}/assets/img/static/logo_main.svg"/>
            </a>
        {% else %}
        {% endif %}
        <ul class="main-nav">

            {% if (base_dir[1] == "2023") %}

                <li {% if base_dir[1] == 'about' %} class="current" {% endif %}><a href="/about">About</a></li>
                <li {% if base_dir[2] == 'timeline' %} class="current" {% endif %}><a href="/2023/timeline/">Programm</a></li>


            {% else %}

                <li {% if base_dir[1] == 'about' %} class="current" {% endif %}><a href="/about">About</a></li>
                <li {% if base_dir[2] == 'timeline' %} class="current" {% endif %}><a href="/2023/timeline/">Programm</a></li>


            {% endif %}

        </ul>
        <div class="nav-toggle"><span></span></div>
    </div>
</header>
